/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    padding: 2px;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 14px;
    color: black;
    box-sizing: border-box;
}

.errorMessage {
    color: red;
    margin-bottom: 15px;
}

.successMessage {
    color: green;
    font-weight: bold;
    margin-bottom: 15px;
}

.myapp-no-padding-dialog .mat-dialog-container {
    padding: 0;
}